.box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.error-details-container {
    display: flex;
    overflow: auto;
}

.error-details {
    flex: 1;
    margin-right: 20px;
    overflow: auto;
}

.postman-hit {
    flex: 1;
}

.error-card {
    overflow: auto;
}
